<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PLM_TreatScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--web服务地址-->
    <add key="webServiceUrl" value="http://127.0.0.1:30018" />
    <!--通信串口1-->
    <add key="com1" value="COM7" />
    <!--通信串口2-->
    <add key="com2" value="COM8" />
  </appSettings>
  <applicationSettings>
    <PLM_TreatScan.Properties.Settings>
      <setting name="PLM_TreatScan_PLMWebService_PLM_WebService" serializeAs="String">
        <value>http://localhost:30018/PLM_WebService.asmx</value>
      </setting>
    </PLM_TreatScan.Properties.Settings>
  </applicationSettings>
</configuration>